<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./js/element.js"></script>
    <script src="./js/index_data.js"></script>
    <script>
        window.onload=function(){
            navbar_show();
            detail();
        }
    </script>
    <style>
        .icon{
            width:32px; 
            height: 32px;
            margin-right: 16px;
            cursor: pointer;
        }
        .sorticon{
            width:16px; 
            height: 16px;
            margin-right: 16px;
            cursor: pointer;
        }
    </style>
</head>
<body ><!--onload vue-->
    <div id="draw_nav">
        <navbar></navbar>
    </div>
    <table class="table table-hover" id="food_table">
        <caption>所有被登記的食物 </caption>
        <thead>
            <tr>
                <th></th>
                <th>食物名稱</th>
                <th>單位</th>
                <th>冷藏方式</th>
                <th>類別</th>
                <th>
                    置入日期
                    <a @click="food_sort('Input_Date',act,now_page)" ><img :src="[(field=='Input_Date'&& act=='asc')? triangle : delta ]"  class="sorticon" ></a>
                    
                </th>
                <th>今天日期</th>
                <th>保存期限
                    <a @click="food_sort('Vali_Date',act,now_page)" ><img :src="[(field=='Vali_Date'&& act=='asc')? triangle : delta]"   class="sorticon" ></a>
                    
                </th>
                <th>保存期限剩餘
                    <a @click="food_sort('Dead_Line',act,now_page)" ><img :src="[(field=='Dead_Line'&& act=='asc')? triangle : delta]"  class="sorticon" ></a>
                </th>
                <th>動作</th>
            </tr>
        </thead>
        <tbody>            
            <tr v-for="(food,i) in food_ary " :key="i" :style="{ 'background-color': food.Color}" >
                <td>
                    <input type="checkbox"  v-model="food_chk" :value="food.ID" :id="i">
                </td>
                <td>{{food.Name}}</td>
                <td>{{food.Unit}}</td>
                <td>{{food.Freeze}}</td>
                <td>{{food.Class}}</td>
                <td>{{food.Input_Date}}</td>
                <td >{{today}}</td>
                <td>{{food.Vali_Date}}</td>
                <td>{{food.Dead_Line}}天</td>
                <td >
                    <a @click="food_act(food.ID,'detail')" ><img src="./icon/detail.png" class="icon" >
                    <a @click="food_act(food.ID,'edit')"><img src="./icon/edit.png"  class="icon">
                    <a @click="food_del(food.ID)"><img src="./icon/trash.png"  class="icon">
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="10" style="text-align: right;">
                    <a href="route.php?act=insert"><img src="./icon/add.png"  class="icon"></a>
                    <a @click="food_del()" ><img src="./icon/trash.png"  class="icon"></a>
                </td>
            </tr>
            <tr>
                <td colspan="10" style="text-align: center;">
                    <ul class="pagination"  >
                        <li><a @click="food_data(field ,act,1)" >&laquo;</a></li>
                        <li v-for="n in page_count" :class="[(now_page == n)? page_on : '' ]"><a @click="food_data(field ,act,n)" >{{n}}</a></li>
                        <li><a @click="food_data(field ,act,page_count)" >&raquo;</a></li>
                    </ul>
                </td>
            </tr>
        </tfoot>
    </table>
</body>
</html>